.ekko-lightbox-nav-overlay a {
  color: goldenrod;
}
.gallery-title {
  text-align: center;
  font-weight: 500;
  border-bottom: 1px dotted orange;
  margin-top: 1em;
}

select.btn-primary.btn-lg.breed.form-control {
  border-radius: 4px;
  width: 250px;
}

.form-gallery {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 1000px;
}

.form-gallery .form-content-gallery {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
  padding-bottom: 200px;
}

.form-content-gallery .form-items {
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
